@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background: #f4f6fa;
}
/* Navbar */
.navbar {
    background-color: #010101;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
   
}
.nav-link, .navbar-brand{
    color: white;
    color:white;
    text-decoration: none;
}
.navbar-brand span {
    color: #dc3d68;
}
.navbar-nav a:hover {
    color: #dc3d68;
}
.navbar-nav .active {
    color:#dc3d68;
    font-weight: bold;
}
.navbar-brand:hover{
    color: white;
}
.navbar-toggler {
    border-color: white;;
}
.navbar-toggler-icon { 
    background-image: url(../img/ico5.png); 
} 


/* Jumbotron */
.jumbotron {
    background: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 215px 0 315px;
    position: relative;
    background-attachment: fixed;
    border-bottom: 5px solid #dc3d68;
}
.hero-text {
    padding-left: 60px;
}

.hero-text h2 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 41px;
}

.hero-text h1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.hero-text p {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding-right: 117px;
    padding-bottom: 26px;
    padding-top: 5px;
}
.hero-text h1 .cr {
    color: #dc3d68;
}

.hero-text a{
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing:2px;
    font-size: 20px;
    z-index: 1;
}
.hero-text a::before {
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    background:#dc3d68;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0)
}
.hero-text a:hover::before {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1)
}
.hero-text a::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1)
}
.hero-text a:hover::after {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0)
}


/* About */
#about {
    padding: 90px 0;
    
}
.about-head {
    padding-bottom: 50px;
}
.about-head h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #dc3d68;
}
.about-head .stroker {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #dc3d68;
}
.about-text h2 {
    font-family: Lato;
    font-weight: bold;
    font-size: 35px;
}
.about-text h3 {
    font-family: Lato;
    font-weight: lighter;
    font-size: 21px;
    padding-bottom: 2px;
    color: #dc3d68;
}
.about-text p {
    font-family: Lato;
    font-size: 14px;
    color: #666;
    padding-bottom: 5px;
}
.slider {
    border-left: 5px solid #dc3d68;
}


/* Services */
#service {
    background: white;
    padding: 90px 0;
}
.card {
    padding: 0;
    border-radius: 18px;
    background: white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: 0.5s ease;
    margin:30px;
  }
.card-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .tipe {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card-text h2 {
    margin-top:0px;
    font-size:28px;
}
.pink {
    height: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
} 


/* Portfolio */
#portfolio {
    padding: 90px 0;
}

.list-portfolio{
    padding-top: 8px;
}
.list-portfolio .btn {
    width: 100%;
}

.port-item {
    margin:auto;
}

.port-item img {
    margin-top: 8px;
    width: 100%;
}

.list-group {
    font-family: roboto;
}
.list-group a:hover,  .list-group .active{
    background-color: #dc3d68;
    border-color: #dc3d68;
    color: white;
    font-weight: bold;
}

.btn-cv a {
    display: inline-block;
    width: 100%;
    margin: 35px 0;
    font-weight: bold;
    border: 1px solid #dc3d68;
    border-radius: 3px;
    color:#dc3d68;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding: 6px 25px;
}
.btn-cv>a:hover {
    color: white;
    background-color: #dc3d68;
    text-decoration: none;
}


/* Quotes */
#quotes {
    padding: 70px 0;
    background: url(../img/quotes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
.about-quo {
    color: white;
    z-index: 1;
}

#quotes::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.quotes-item .img-quo {
    background: #dc3d68;
    border-radius: 50%;
    border: 2.5px solid #dc3d68;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}
.quotes-item{
    z-index: 1;
    color: white;
}


/* Contact */
#contact {
    padding: 90px 0;
}
.contact-item {
    padding: 12px;
    margin-bottom: 13px;
    width: 70%;
    border:2px solid #dc3d68;
    background-color: #dc3d68;
    font-family: roboto;
    color: white;
}
.contact-item h4 {
    margin-bottom: 0;
    font-weight: bold;
}
.info {
    margin-bottom: 30px;
}
.con-form {
    padding: 0 30px;
}
.con-form h3 {
    color: #dc3d68;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: roboto;
    font-weight: bolder;
}
.sub-button {
    color: white;
    background-color:#dc3d68; 
    border: 1px solid #dc3d68;
}
.sub-button:hover {
    background-color:#f70c4b; 
    border: 1px solid #dc3d68;
}


/* Footer */
#footer {
    padding: 30px 0 0 10px;
    background-color: rgb(34, 34, 34);
}

.footer-icon a{
    display: inline-block;
    border: 1px solid rgb(34, 34, 34);
    background: transparent;
    border-radius: 50%;
    margin-right: 10px;
    
}

.footer-icon a:hover {
    border: 1px solid #dc3d68;
    border-radius: 50%;
    background: #dc3d68;
}

.cprt h2{
    padding:10px 0 0 0;
    color: white;
    font-size: 16px;
}
.cprt h2 span {
    color: #dc3d68; 
}
.up a {
    margin: 5px 0;
    text-decoration: none;
    display: inline-block;
    padding-top:2px;
    width: 30px;
    height: 30px;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    border: 1px solid rgb(100, 100, 100);
    color:  rgb(100, 100, 100);
}
.up a:hover {
    color: #dc3d68;
    border-color: #dc3d68;
}
    
    


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .nav-link {
        text-transform: uppercase;
        margin-right: 10px;
    }
    .nav-link:hover::after {    
        content: ' ';
        display: block;
        border-bottom: 3px solid #dc3d68;
        width:50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .cr{
        display: inline-block;
        animation: type 2s 3;
        overflow: hidden;
        white-space: nowrap;
    }
    .cr::after {
        animation: blink 1.6s infinite;
        color: #dc3d68;
        content: '|';
    }
    @keyframes type {
        0% {
            width: 0ch;
        }
        100% {
            width: 10ch;
            border-right: none;
        }
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
}
